@font-face {
  font-family: 'Starlord';
  src: url('/fonts/starlord.otf') format("opentype");
  font-weight: normal;
  font-style: normal;
}

@import 'https://fonts.googleapis.com/icon?family=Material+Icons';